# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\user\OneDrive - ФГОБУ ВО Финансовый университет при Правительстве РФ\Рабочий стол\Ксюша\ВЕБ\t-9\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
